@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 18px;
  background: #263238;
  font-family: "League Spartan", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

.body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
.main__how-work {
  margin-top: 145px;
  margin-bottom: 200px;
}
.main__pathway {
  margin-bottom: 200px;
}
.main__why {
  margin-bottom: 200px;
}
.main__customers {
  margin-bottom: 200px;
}
.main__download {
  margin-bottom: 200px;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-less {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-style {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  border-radius: 10px;
  background-color: #23B123;
  border: 1px solid #23B123;
  cursor: pointer;
  transition: all 0.8s;
}
.button-style--sign {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 21px 44px;
}
.button-style--sign:hover {
  background-color: #23B123;
  border: 1px solid #23B123;
}
.button-style--get-started {
  padding: 21px 25px;
}

.title {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 78px;
  overflow: hidden;
}
.title--decor {
  color: #23B123;
}
.title__decoration {
  color: #23B123;
}
.title--secondary {
  font-size: 64px;
  line-height: 72px;
}

.text {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
}

a.active {
  color: #23B123;
  border-bottom: 3px solid #23B123;
  padding-bottom: 8px;
}

/* ----------------------------------------------------------------- */
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 14px;
}
.header__logo {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 36px;
  line-height: 43px;
  color: inherit;
}
.header__button:not(:last-child) {
  margin-right: 16px;
}
.header__actions {
  display: flex;
}
.header__add-background {
  background-color: rgb(31, 31, 43);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.menu__link {
  color: inherit;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.8s;
}
.menu__link:hover {
  color: #23B123;
}
.menu__item:not(:last-child) {
  margin-right: 44px;
}

/* бургер меню */
.burger {
  display: none;
  width: 25px;
  height: 21px;
  position: relative;
  z-index: 20;
}
.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #FFFFFF;
}
.burger__line:nth-child(1) {
  top: 1px;
}
.burger__line:nth-child(2) {
  top: 9px;
}
.burger__line:nth-child(3) {
  bottom: 1px;
}

/* --------------------------------------------------------------------- */
/* main */
/* section main-block */
.block-main__container {
  position: relative;
}
.block-main__title {
  max-width: 840px;
  text-align: center;
}
.block-main__text {
  text-align: center;
  line-height: 180%;
  padding-top: 69px;
  padding-bottom: 48px;
  max-width: 640px;
}
.block-main__content {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.form {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  max-width: 533px;
}
.form__input {
  flex: 1 1 auto;
  outline: none;
  border: none;
  color: #263238;
  padding: 0 25px;
}
.form__input::-moz-placeholder {
  color: #263238;
}
.form__input:-ms-input-placeholder {
  color: #263238;
}
.form__input::placeholder {
  color: #263238;
}

.icons-block__item {
  position: absolute;
}
.icons-block__item-1 {
  top: 85%;
}
.icons-block__item-2 {
  top: 54%;
  left: 15%;
}
.icons-block__item-3 {
  top: 20%;
  left: 68%;
}
.icons-block__item-4 {
  top: 55%;
  left: 80%;
}
.icons-block__item-5 {
  top: 48%;
  right: 1%;
}
.icons-block__item-6 {
  top: 85%;
  left: 80%;
}
.icons-block__item-7 {
  bottom: 0;
  left: 25%;
}

/* section partners */
.partners__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 200px;
}
.partners__item {
  padding: 0 15px;
  margin-bottom: 40px;
  overflow: hidden;
}
.partners__item img {
  max-width: 100%;
}

/* section how work */
.how-work__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-work__content {
  margin-right: 96px;
}
.how-work__text {
  line-height: 177%;
  padding-top: 32px;
  padding-bottom: 48px;
  max-width: 574px;
}
.how-work__image {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  padding: 166px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.how-work__image img {
  border-radius: 20px;
  max-width: 100%;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
}
.list-work__column {
  flex: 0 1 100%;
  overflow: hidden;
}
.list-work__column:not(:last-child) {
  margin-bottom: 42px;
}
.list-work__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.list-work__item:not(:last-child) {
  margin-bottom: 42px;
}
.list-work__icon {
  align-items: center;
  justify-content: center;
}
.list-work__content {
  margin-left: 32px;
}
.list-work__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 16px;
}
.list-work__description {
  line-height: 180%;
  max-width: 348px;
}

/* section pathway */
.pathway__container {
  display: flex;
  flex-wrap: wrap;
}
.pathway__column {
  flex: 0 1 50%;
}
.pathway__image {
  margin-right: 126px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  padding: 99px 40px;
  overflow: hidden;
}
.pathway__image img {
  border-radius: 20px;
  max-width: 100%;
}
.pathway__title {
  line-height: 78px;
  max-width: 570px;
}
.pathway__text {
  padding-top: 32px;
  padding-bottom: 48px;
  line-height: 177%;
  max-width: 563px;
}

.block-pathway {
  max-width: 600px;
}
.block-pathway__item {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
}
.block-pathway__item:not(:last-child) {
  margin-bottom: 24px;
}
.block-pathway__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 24px 30px;
}
.block-pathway__title::after {
  content: "";
  background-image: url(../images/how-works/arrow-down.svg);
  background-repeat: no-repeat;
  height: 24px;
  flex: 0 0 24px;
}
.block-pathway .active.block-pathway__title::after {
  background-image: url(../images/how-works/arrow-up.svg);
}
.block-pathway__text {
  max-height: 0;
  transition: all 1s;
  overflow: hidden;
  background: rgba(245, 235, 235, 0.05);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.block-pathway__description {
  padding: 0 30px;
  line-height: 40px;
  text-align: justify;
}

.why__container {
  display: flex;
  flex-wrap: wrap;
}
.why__title {
  max-width: 488px;
}
.why__text {
  padding-top: 32px;
  padding-bottom: 48px;
  max-width: 563px;
  line-height: 177%;
}
.why__list {
  counter-reset: item;
  display: flex;
  flex-direction: column;
}
.why__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  gap: 50px;
  margin-bottom: 48px;
  overflow: hidden;
}
.why__item::before {
  counter-increment: item;
  content: counter(item);
  width: 64px;
  height: 64px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
.why__column {
  flex: 0 1 50%;
}
.why__button {
  padding: 22px 55px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
}
.why__image img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.customers__content {
  text-align: center;
}
.customers__text {
  padding-top: 32px;
  padding-bottom: 48px;
  line-height: 177%;
  max-width: 563px;
  margin: 0 auto;
}
.customers__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.customers__column {
  flex: 0 1 50%;
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
.customers__item {
  display: flex;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  height: 100%;
}
.customers__image img {
  border-radius: 20px 0px 0px 20px;
}
.customers__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
  padding: 32px;
  gap: 15px;
  overflow: hidden;
}
.customers__button {
  padding: 22px 70px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
.customers .description-customers__text {
  text-align: justify;
  line-height: 177%;
}
.customers .description-customers__author {
  font-weight: 700;
}
.customers__view-all--hide {
  display: none;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__container {
  width: 100%;
}
.download__content {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  padding: 72px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download__title {
  font-size: 56px;
  line-height: 63px;
  text-align: center;
  max-width: 760px;
}
.download__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 24px;
}

/* --------------------------------------------------------------------- */
/* footer */
.footer {
  background: rgba(53, 64, 70, 0.5);
  padding-top: 68px;
  padding-bottom: 56px;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.footer__top::after {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.42);
  bottom: 0;
  right: 0;
  width: 100%;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 58px;
}

.main-footer {
  margin-bottom: 100px;
}
.main-footer__text {
  padding-top: 24px;
  max-width: 352px;
  line-height: 177%;
}
.main-footer__contacts {
  display: flex;
  gap: 48px;
}
.main-footer__label {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.main-footer__phone {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 19px;
}
.main-footer__form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.form-main__text {
  max-width: 438px;
  line-height: 177%;
  padding-bottom: 24px;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.menu-footer__list {
  display: flex;
}
.menu-footer__item:not(:last-child) {
  margin-right: 40px;
}
.menu-footer__link {
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 70px;
  font-size: 40px;
  z-index: 10;
  color: #23B123;
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
}
.scroll-up--hide {
  opacity: 0;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
  z-index: 50;
  overflow: hidden;
}
.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  padding: 0 15px;
}
.modal__form {
  background-color: #b9c9b9;
  z-index: 50;
  border: 4px solid rgb(46, 50, 46);
  border-radius: 20px;
  max-width: 100%;
}
.modal__close {
  display: flex;
  justify-content: flex-end;
}
.modal__hide {
  padding: 20px 15px 10px 15px;
  font-size: 30px;
}
.modal__hide:hover {
  cursor: pointer;
}
.modal__title {
  font-size: 40px;
  text-align: center;
  padding: 0 15px;
  color: rgb(56, 56, 104);
  font-weight: 700;
}
.modal--show {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.4);
}

.form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 100px;
}
.form-modal__input {
  padding: 20px;
  margin: 0 auto 25px auto;
  border: 3px solid rgb(56, 56, 104);
  max-width: 100%;
  width: 100%;
  outline: none;
}
.form-modal__button {
  color: #FFFFFF;
  background-color: #23B123;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-size: 25px;
}
.form-modal__button:hover {
  opacity: 0.6;
}

.get-started {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 50;
  transform: translateX(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
.get-started__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.get-started__form {
  background-color: #475869;
  border-radius: 20px;
}
.get-started--show {
  transform: translateX(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.4);
}

.form-get {
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 20px 50px 50px 50px;
}
.form-get__input {
  width: 100%;
  max-width: 100%;
  padding: 30px 25px;
  outline: none;
}
.form-get__button {
  border-radius: 0;
}
.form-get__button:hover {
  opacity: 0.5;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1358px;
  }
  .container-less {
    max-width: 1340px;
  }
  .how-work {
    margin-bottom: 100px;
  }
  .how-work__image {
    padding: 90px 30px;
  }
  .list-work__icon img {
    width: 80px;
    height: 80px;
  }
  .list-work__column {
    flex: 0 1 50%;
  }
  .list-work__column:not(:last-child) {
    margin-bottom: 0;
  }
  .list-work__item {
    align-items: center;
    justify-content: center;
  }
  .list-work__content {
    margin-top: 15px;
    text-align: center;
  }
  .main__how-work {
    margin-bottom: 100px;
  }
  .main__pathway {
    margin-bottom: 100px;
  }
  .main__why {
    margin-bottom: 100px;
  }
  .main__customers {
    margin-bottom: 100px;
  }
  .main__download {
    margin-bottom: 100px;
  }
}
@media (max-width: 1540px) {
  .container {
    max-width: 1200px;
  }
  .container-less {
    max-width: 1260px;
  }
  .button-style--sign {
    padding: 15px 34px;
  }
  .button-style--get-started {
    padding: 15px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .title {
    font-size: 65px;
    line-height: 70px;
  }
  .block-main__content {
    padding-top: 230px;
  }
  .block-main__text {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .partners__container {
    margin-top: 150px;
  }
  .main__how-work {
    margin-top: 100px;
  }
  .main-footer__contacts {
    flex-direction: column;
    gap: 0;
  }
  .main-footer__phone {
    margin-top: 20px;
  }
}
@media (max-width: 1400px) {
  .title__secondary {
    font-size: 50px;
    line-height: 72px;
  }
  .button-style--sign {
    padding: 10px 20px;
  }
  .button-style--get-started {
    padding: 10px;
  }
  .main__how-work {
    margin-top: 40px;
  }
  .how-work__content {
    text-align: center;
  }
  .how-work__text {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .header__container {
    grid-template-columns: 180px 1fr auto;
  }
  .header__menu {
    position: fixed;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #263238;
    opacity: 0;
    overflow: auto;
    transition: all 1s;
  }
  .header__menu::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: 20;
    background-color: rgb(31, 31, 43);
  }
  .header__active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    left: 0;
  }
  .header__logo {
    position: relative;
    z-index: 10;
  }
  .header__actions {
    position: relative;
    z-index: 10;
  }
  .menu__list {
    flex-direction: column;
    padding-top: 180px;
    text-align: center;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .burger {
    display: block;
  }
  .burger__line {
    transition: all 0.6s;
  }
  .header__active .burger__line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .header__active .burger__line:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .header__active .burger__line:nth-child(3) {
    transform: scale(0);
  }
  .title {
    font-size: 48px;
  }
  .how-work__container {
    flex-wrap: wrap;
  }
  .how-work__title {
    text-align: center;
  }
  .how-work__content {
    margin-right: 0;
  }
  .how-work__text {
    max-width: 100%;
    text-align: center;
  }
  .how-work__column {
    flex: 0 1 100%;
  }
  .how-work__column:not(last-child) {
    margin-bottom: 20px;
  }
  .how-work__image {
    padding: 20px 25px;
  }
  .list-work__item {
    margin-bottom: 42px;
  }
  .pathway__container {
    align-items: center;
    justify-content: center;
  }
  .pathway__column {
    flex: 0 1 100%;
  }
  .pathway__column--right {
    order: 2;
  }
  .pathway__column--left {
    order: 1;
  }
  .pathway__image {
    margin-right: 0;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pathway__content {
    text-align: center;
  }
  .pathway__title {
    max-width: 100%;
  }
  .pathway__text {
    max-width: 100%;
  }
  .pathway__block {
    margin-bottom: 40px;
  }
  .block-pathway {
    max-width: 100%;
  }
  .block-pathway__title {
    line-height: 20px;
  }
  .why__column {
    flex: 0 1 100%;
  }
  .why__title {
    max-width: 100%;
  }
  .why__text {
    max-width: 100%;
  }
  .why__content {
    text-align: center;
  }
  .why__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .why__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .why__column-list {
    padding: 0 15px;
  }
  .why__button {
    margin: 0 auto;
    display: block;
  }
  .customers__item {
    flex-direction: column;
  }
  .customers__description {
    padding: 15px;
    justify-content: space-between;
  }
  .customers__image img {
    border-radius: 20px;
    width: 100%;
  }
  .customers__button {
    margin-top: 40px;
  }
}
@media (max-width: 1168px) {
  .title {
    font-size: 45px;
    line-height: 50px;
  }
  .partners__container {
    justify-content: center;
    margin-top: 100px;
  }
  .main-footer__form {
    order: 3;
  }
  .main-footer__contact {
    order: 1;
  }
}
@media (max-width: 1050px) {
  .main-footer {
    margin-bottom: 60px;
  }
  .main-footer__form {
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .form__input {
    padding: 20px 25px;
  }
  .form__button {
    padding: 16px;
  }
}
@media (max-width: 992px) {
  .menu-footer__list {
    flex-direction: column;
  }
  .menu-footer__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .block-main__icons {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__container {
    grid-template-columns: 1fr auto auto;
  }
  .header__actions .button-style--get-started {
    display: none;
  }
  .button-style--sign {
    padding: 15px;
  }
  .get-started {
    transform: translateX(-44.5%) scale(0);
    overflow: hidden;
  }
  .menu__list {
    align-items: center;
    padding-left: 0;
  }
  .menu__link {
    font-size: 28px;
  }
  .title {
    font-size: 40px;
    line-height: 45px;
  }
  .list-work__column {
    flex: 0 1 100%;
  }
  .list-work__content {
    margin-left: 0;
  }
  .why__list {
    flex-direction: column;
  }
  .why__item::before {
    font-size: 20px;
    line-height: 30px;
  }
  .why__button {
    width: 100%;
    max-width: 100%;
  }
  .customers__container {
    justify-content: center;
    align-items: center;
  }
  .customers__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 540px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__copyright {
    order: 2;
  }
  .footer__menu {
    order: 1;
  }
  .menu-footer__list {
    margin-bottom: 40px;
  }
  .menu-footer__item {
    text-align: center;
  }
  .menu-footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .modal__title {
    font-size: 30px;
  }
  .modal__hide {
    font-size: 25px;
  }
  .form-modal {
    padding: 20px 40px;
  }
  .form-modal__button {
    padding: 15px;
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .form {
    flex-direction: column;
    background-color: transparent;
  }
  .form__input {
    height: 64px;
    border-radius: 10px;
  }
  .form__button {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
  }
  .list-work__description {
    max-width: 100%;
    text-align: center;
  }
  .download__title {
    font-size: 35px;
  }
}
@media (max-width: 380px) {
  .button-style--sign {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */